/* #region Base styles */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #2e2f42;
  background-color: #fff;
}
/* #endregion */

/* #region Reset */
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
/* #endregion */

/* #region Common */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.accent-word {
  color: #4d5ae5;
}
/* #endregion */

/* #region Header */
.header {
}
.logo-header {
}
.header-nav {
}
.header-list {
}
.header-link {
  font-weight: 500;
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.address {
}
.address-item {
  color: #434455;
}
.address-item:hover,
.address-item:focus {
  color: #404bbf;
}
/* #endregion */

/* #region Hero */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.order-btn {
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
}
.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}
/* #endregion */

/* #region Features */
.feature-list {
}
.feature-item {
}
.feature-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.feature-desc {
  color: #434455;
}
/* #endregion */

/* #region Team */
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-list {
}
.team-item {
  background-color: #fff;
}
.worker-img {
}
.worker-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.worker-position {
  text-align: center;
  color: #434455;
}
/* #endregion */

/* #region Portfolio*/
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-img {
}
.portfolio-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-item-field {
  color: #434455;
}
/* #endregion */

/* #region Footer*/
.footer {
  background-color: #2e2f42;
}
.logo-footer {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}
/* #endregion */
